/* Global Classes Stylesheet */
.center{
  display: flex;
  align-items: center;
  justify-content: center;

}




/* Game Navigation Styles */
.game-title{
  text-align: center;
  font-family: 'VT323', monospace; 
  font-size: 40px;
  margin-top: 10px;
}

.logo{
  cursor: pointer;
}

.score-nav{
  list-style: none;
}

.score-nav li{
  padding: 0px 25px;
}

.score-nav li a{
  transition: all 0.3s ease 0s;
}

.score-nav li a:hover{
  color: grey;
}

.status-bar{
  background-color: white;
  color: rgba(134, 9, 34);
  border-radius: 10px;
  height: 35px;
  width: 500px;
  text-align: center;
  

}



/* Button Console Stylesheet */

.button-console{
  text-align: center;
  font-style: bold;
  margin: 25px 0px;

}

.button-console button{
  font-family: 'VT323', monospace; 
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(236, 172, 177, 0.5);
  padding: 9px 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 200px;
  margin: 0 10px;
}


/* Time Display Stylesheet */

.countdown-timer-section{
  height: 55vh;
  width: 100%;
  background-color: rgba(134, 9, 34);
}


.circle-container{
  height: 400px;
  width: 400px;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.semicircle{
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right center;
}

/* Put Both of Them As Red or Green Start with 2*/

.semicircle:nth-child(1){
  background-color: red;
  z-index: 2;
}

.semicircle:nth-child(2){
  background-color: red;
  z-index: 3;
}

/* Put As Opposite to Indicate Mode Change {Change with Container}*/

.semicircle:nth-child(3){
  background-color: grey;;
  z-index: 4;
}

.outermost-circle{
  height: 390px;
  width: 390px;
  background-color: rgba(241, 126, 132);
  border-radius: 50%;
  z-index: 5;
}



.timer-container{
  height: 200px;
  width: 330px;
  z-index: 6;

}

.timer{
  height: 100px;
  width: 400px;
  z-index: 7;
 
}

.timer {
  font-family: 'VT323', monospace; 
  font-size: 50px;
  font-weight: 100;
  color: rgba(134, 9, 34);
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;

}

.colon{
  background-color: transparent;
  color: #ddd;
  width: 10px;
  margin: 0 10px 0 10px;
}



/* Tasks and Stats Stylesheet */


.game-instructions{
  margin: 25px 10px;
  font-family: 'VT323', monospace; 
  font-size: 22px;
}

.game-instructions li{
  list-style: none;
  font-style: italic;
}

.taskbar-section{
  margin: 10px;
  font-family: 'VT323', monospace; 
  font-size: 22px;
  color: black;
  min-height: 40vh;
  width: 100%;
  padding: 10px;

}


.taskbar-container{
  min-height: 100vh;
  width: 100%;

}

.taskbar h2{
  margin-bottom: 20px;
}

.taskbar{
  width: 100%;
  max-width:  700px;
  background-color: white;
  margin: 10px auto 50px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}


.taskbar-input-row{
  background-color: #edeef0;
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  height: 35px;
}


input {

  font-family : 'VT323', monospace !important;
  font-size: 20px;
}

.taskbar ul li {
  list-style-type: none;
  font-size: 22px;
  padding: 10px 8px 8px 50px;
  user-select: none;
  position: relative;
}


.taskbar ul li::before {
 content: '';
 position: absolute;
 height: 28px;
 width: 28px;
 border-radius: 50%;
 background-image: url(photos/check-box.png);
 background-size: cover;
 background-position: center;
 top: 8px;
 left: 8px;
}

ul li.checked-task{
  color: #555;
  text-decoration: line-through;
}


ul li.checked-task::before{
  background-image: url(photos/check.png);
}

.taskbar ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  height: 30px;
  width: 30px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  
}


.taskbar ul li span:hover{
  background-color: #edeef0;

}

.taskbar-input-row::placeholder{
  font-family: 'VT323', monospace; 
}

.taskbar-input-row button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: rgba(236, 172, 177);
  font-family: 'VT323', monospace; 
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  height: 35px;
  width: 45px;
  margin: 2px;
  
}


.taskbar-input-row{
  border-radius: 5px;
}



input{
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;  
  

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'VT323', monospace;
  font-size: 15px; 
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'VT323', monospace;
  font-size: 15px; 
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'VT323', monospace;
  font-size: 15px; 
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'VT323', monospace;
  font-size: 15px; 
}

