/* Global Classes Stylesheet */
.center{
  display: flex;
  align-items: center;
  justify-content: center;

}




/* Game Navigation Styles */
.game-title{
  text-align: center;
  font-family: 'VT323', monospace; 
  font-size: 40px;
  margin-top: 10px;
}

.logo{
  cursor: pointer;
}

.score-nav{
  list-style: none;
}

.score-nav li{
  padding: 0px 25px;
}

.score-nav li a{
  transition: all 0.3s ease 0s;
}

.score-nav li a:hover{
  color: grey;
}

.status-bar{
  background-color: white;
  color: rgba(134, 9, 34);
  border-radius: 10px;
  height: 35px;
  width: 500px;
  text-align: center;

}



/* Button Console Stylesheet */

.button-console{
  text-align: center;
  font-style: bold;
  margin: 25px 0px;

}

.button-console button{
  font-family: 'VT323', monospace; 
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(236, 172, 177, 0.5);
  padding: 9px 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 200px;
  margin: 0 10px;
}


/* Time Display Stylesheet */










/* Tasks and Stats Stylesheet */


